<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome to S1 Auth Services</title>
</head>
<body>
  <style>
    body {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 14px;
      line-height: 1.42857143;
      color: #333;
      background-color: #fff;
    }

    h1 {
      margin: 10px 0;
      font-size: 34px;
      font-weight: 300;
      line-height: 1.1;
      color: inherit;
    }

    p {
      margin: 0 0 10px;
    }
  </style>
  <h1>Hello, <%= username %></h1>

  <p>
    Welcome to S1 Auth Services. Hope you enjoy your stay.
  </p>
</body>
</html>