<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Recover your password</title>
  </head>
  <body>
    <style>
      body {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333;
        background-color: #fff;
      }

      main {
        width: fit-content;
        margin: 0 auto;
        padding: 20px;

        min-height: 300px;

        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      header {
        margin-bottom: 20px;
        border-bottom: 1px solid #eee;

        display: flex;
        justify-content: space-between;
        align-items: center;

        background-color: #8303d2;
        color: #fff;
        padding: 10px;
        border-radius: 4px;
      }

      h1 {
        margin: 10px 0;
        font-size: 34px;
        font-weight: 300;
        line-height: 1.1;
        color: inherit;
      }

      p {
        margin: 0 0 10px;
      }

      #main-message {
        margin-bottom: 0;
      }

      #token-copy {
        cursor: pointer;
        color: #8303d2;
        text-decoration: underline;
      }

      #token-copy-sucess {
        display: none;
        font-size: 12px;
        color: limegreen;
      }
    </style>

    <main>
      <header>
        <h1>Hello, <%= username %></h1>
      </header>

      <p id="main-message">
        Copy this <span id="token-copy" onclick="copyToClipboard('<%= token %>')">token</span> and paste
        it in the form to recover your password.
      </p>

      <p>
        If the token did not copy automatically, please copy it manually.
        <br />
        <strong>Token:</strong> <%= token %>
      </p>
    </main>

    <script>
      function copyToClipBoard(text) {
        const input = document.createElement('input');

        input.setAttribute('value', text);

        document.body.appendChild(input);

        input.select();

        document.execCommand('copy');
        document.body.removeChild(input);
        alert('Token copied to clipboard!');
      }
    </script>
  </body>
</html>
